<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock News</title>
    <link rel = 'stylesheet' href = '/css/header.css' />
    <link rel="icon" type="image/x-icon" href="/img/logo.png" />
</head>
<body style="background-color: #222;">
    <div class="header">
        <a href="/" class="logo">Stock News</a>
        <div class="header-right">
          <a class="active" href="/">Home</a>
          <a href="/wishlist">Wishlist</a>
          <a href="/search">Search</a>
          <a href="/search/news">News</a>
          <a href="/contact">Contact</a>
          <a href="/about">About</a>
        </div>
      </div>


      <div style="background-color: #1a1a1a; padding: 50px; color: white; font-family: 'Roboto Mono', monospace;">
        <h1 style="font-size: 3rem; margin-bottom: 20px;">About</h1>
        <p style="font-size: 1.2rem; line-height: 1.5; margin-bottom: 30px;">This project is made to let people view stock news easier. It uses multiple API's to get stock news and then runs it through my algorithm to return the best stock news for your interest.</p>
        <h2 style="font-size: 2rem; margin-bottom: 20px;">Build</h2>
        <div style="display: flex; justify-content: space-between;">
          <div style="width: 30%;">
            <h3 style="font-size: 1.5rem; margin-bottom: 10px;">News</h3>
            <p style="font-size: 1.2rem;">Yahoo Finance</p>
          </div>
          <div style="width: 30%;">
            <h3 style="font-size: 1.5rem; margin-bottom: 10px;">Current Prices</h3>
            <p style="font-size: 1.2rem;">Yahoo Finance / Nasdaq</p>
          </div>
          <div style="width: 30%;">
            <h3 style="font-size: 1.5rem; margin-bottom: 10px;">Historical Prices</h3>
            <p style="font-size: 1.2rem;">Data Analyst</p>
          </div>
        </div>
        <h2 style="font-size: 2rem; margin-bottom: 20px;">Our Technology</h2>
        <ul style="font-size: 1.2rem; line-height: 1.5;">
          <li>NodeJS</li>
          <li>HTML/CSS</li>
          <li>Stock API's</li>
          <li>Backend</li>
          <li>Frontend</li>
        </ul>
      </div>
      

</body>

</html>