<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock News</title>
    <link rel = 'stylesheet' href = '/css/header.css' />
    <link rel="icon" type="image/x-icon" href="/img/logo.png" />
</head>
<body style="background-color: #1a1a1a;">
    <div class="header">
        <a href="/" class="logo">Stock News</a>
        <div class="header-right">
          <a class="active" href="/">Home</a>
          <a href="/wishlist">Wishlist</a>
          <a href="/search">Search</a>
          <a href="/search/news">News</a>
          <a href="/contact">Contact</a>
          <a href="/about">About</a>
        </div>
      </div>
      </div>


      <div style="background-color: #1a1a1a; padding: 50px; color: white; font-family: 'Roboto Mono', monospace;">
        <h1 style="font-size: 3rem; margin-bottom: 20px;">Contact Us</h1>
        <p>For Faster results email mmitchmmares@gmail.com</p>
        <form style="font-size: 1.2rem; line-height: 1.5;">
          <label for="name" style="display: block; margin-bottom: 10px;">Name:</label>
          <input type="text" id="name" name="name" style="padding: 10px; font-size: 1.2rem; border-radius: 5px; border: none; margin-bottom: 20px;">
          <label for="email" style="display: block; margin-bottom: 10px;">Email:</label>
          <input type="email" id="email" name="email" style="padding: 10px; font-size: 1.2rem; border-radius: 5px; border: none; margin-bottom: 20px;">
          <label for="message" style="display: block; margin-bottom: 10px;">Message:</label>
          <textarea id="message" name="message" style="padding: 10px; font-size: 1.2rem; border-radius: 5px; border: none; margin-bottom: 30px;"></textarea>
          <button type="submit" style="background-color: #4CAF50; color: white; border: none; padding: 10px 20px; border-radius: 5px; font-size: 1.2rem;">Submit</button>
        </form>
      </div>
      
      

</body>

</html>