<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock News</title>
    <link rel = 'stylesheet' href = '/css/header.css' />
    <link rel = 'stylesheet' href = '/css/home-recommended.css' />
    <link rel = 'stylesheet' href = '/css/home-purpose.css' />
    <link rel="icon" type="image/x-icon" href="/img/logo.png" />
</head>
<body>
    <div class="header">
        <a href="/" class="logo">Stock News</a>
        <div class="header-right">
          <a class="active" href="/">Home</a>
          <a href="/wishlist">Wishlist</a>
          <a href="/search">Search</a>
          <a href="/search/news">News</a>
          <a href="/contact">Contact</a>
          <a href="/about">About</a>
        </div>
      </div>
      </div>

      <div class="techy-stock-prices">
        <ul>
          <li>
            <a class="company-name" href = "/search/analysis?name=aapl" target = '_blank'>AAPL</a>
            <span class="stock-price" id="AAPL">$140.80</span>
          </li>
          <li>
            <a class="company-name" href = "/search/analysis?name=goog" target = '_blank'>GOOG</a>
            <span class="stock-price" id="GOOG">$2,216.71</span>
          </li>
          <li>
            <a class="company-name" href = "/search/analysis?name=intc" target = '_blank'>INTC</a>
            <span class="stock-price" id="INTC">$59.42</span>
          </li>
          <li>
            <a class="company-name" href = "/search/analysis?name=nvda" target = '_blank'>NVDA</a>
            <span class = "stock-price" id="NVDA">$274.53</span>
          </li>
          <li>
            <a class="company-name" href = "/search/analysis?name=spy" target = '_blank'>SPY</a>
            <span class = "stock-price" id="SPY">$409.03</span>
          </li>
          <li>
            <a class="company-name" href = "/search/analysis?name=amd" target = '_blank'>AMD</a>
            <span class = "stock-price" id="AMD">$97.89</span>
          </li>
          <li>
            <a class="company-name" href = "/search/analysis?name=bby" target = '_blank'>BBY</a>
            <span class = "stock-price" id="BBY">$75.08</span>
          </li>
        </ul>
      </div>

      <div class="website-purpose">
        <h2 class="purpose-title">Website</h2>
        <p class="purpose-description">My website is a platform for people to connect to information about a variety of stock news. Whether you're interested in technology, science, business, or anything in between, the news is here to help you learn and grow.</p>
        <ul class="purpose-features">
          <li class="purpose-feature">
            <span class="feature-name">Connect with Like-Minded People</span>
            <span class="feature-description">Join discussions and connect with others who share your interests and passions.</span>
          </li>
          <li class="purpose-feature">
            <span class="feature-name">Discover New Information</span>
            <span class="feature-description">Explore new topics and discover valuable information through our curated content.</span>
          </li>
          <li class="purpose-feature">
            <span class="feature-name">Engage in Meaningful Conversations</span>
            <span class="feature-description">Share your thoughts and ideas, and engage in thoughtful conversations with others in our community.</span>
          </li>
        </ul>
      </div>
      
      

      <script src = '/js/home-stockprices.js'></script>

</body>

</html>